CompileFlags:
    Add:
        - "-ID:\\LibericaJDK-17\\include"
        - "-ID:\\LibericaJDK-17\\include\\win32"
        - "-ID:\\python_pkg\\Python\\Python312\\include"
        - "-ID:\\ccpp_proj\\lightMLP"